@use "_var.scss";

.comments-area {
	padding: var.$spacing-md;
}

.comments-title,
.comment-reply-title {
	font-size: var.$font-size-lg;
	color: var.$SCVGreen;
	text-shadow: var.$text-shadow;
	font-weight: var.$font-weight-normal;
	margin: 0;
}

.comment {
	padding: 0;
	margin: 0;
}

.comment-list {
	margin: 0 0 var.$spacing-md 0;
	padding: 0;

	.children {
		margin: 0;
		padding: 0;

		.comment-body {
			padding-left: 55px;
		}
	}
}

.comment-author-metadata,
.comment-content,
.comment-reply,
.comment-respond {
	font-size: var.$font-size-sm;
}

.comment-meta {
	display: flex;
	align-items: center;
}

.comment-author-metadata {
	padding-left: var.$spacing-md;
}

$comment-avatar-size: 80px;
.comment-avatar {
	min-width: $comment-avatar-size;
	img {
		width: $comment-avatar-size;
		height: $comment-avatar-size;
		border-radius: var.$border-radius-md;
	}

	a {
		border: none;
	}
}

.comment-author {
	a {
		font-weight: var.$font-weight-normal;
	}
}

.comment-content {
	font-weight: var.$font-weight-light;
}

.comment-reply {
	text-align: right;
	a {
		color: var.$SCVRed;
	}
}

.comment-body {
	padding: var.$spacing-md 0;
	border-bottom: 1px solid var.$SCVGreen;
}

.comment-respond {
	label {
		font-size: var.$font-size-lg;
		color: var.$SCVGreen;
	}
	input:not([type="submit"]),
	textarea {
		border-radius: var.$border-radius-md;
		border-color: var.$SCVGreen;
		box-shadow: var.$box-shadow;
	}

	.form-submit {
		text-align: center;
	}
}
