@use "_var.scss";

// Standard Components
blockquote {
	font-style: italic;
	border-left: 2px solid var.$White;
	padding-left: var.$spacing-md;
	margin: var.$spacing-md 0 var.$spacing-sm;
}

figure a {
	border: none;
}

.wp-block-buttons > .wp-block-button {
	margin-top: 1rem;
}

ul {
	margin: var.$spacing-sm 0;
}

// Typography
.site-branding {
	font-size: var.$font-size-lg;
}
.site-heading {
	font-size: var.$font-size-xl;
	text-transform: uppercase;
	text-align: center;
	font-weight: var.$font-weight-normal;
	text-shadow: var.$text-shadow;
	line-height: var.$font-size-xxl + var.$spacing-md;
	margin: 0;

	b {
		font-weight: var.$font-weight-semibold;
	}
}

.featured-story-heading {
	font-size: var.$font-size-md;
	margin: 0 0 1.5rem 0;

	a {
		border: 0;
	}
}

.featured-story-excerpt {
	font-style: italic;
	font-size: var.$font-size-sm;
	margin-bottom: var.$spacing-lg;
}

.featured-story {
	display: flex;
	gap: var.$spacing-md;
	flex-wrap: wrap;
	margin-top: var.$spacing-lg;

	a {
		border-color: transparent;
	}

	.featured-story-link {
		border-color: var.$White;
		font-weight: var.$font-weight-bold;
		text-shadow: var.$text-shadow;
		font-size: var.$font-size-xs;
	}
}

.featured-story-info {
	// Allows 2 col layout in desktop
	max-width: 592px;
}
.entry-title {
	margin: 0 0 var.$spacing-md 0;
	text-shadow: var.$text-shadow;
}

.entry-heading {
	color: var.$SCVGreen;
	text-shadow: var.$text-shadow;
	font-size: var.$font-size-lg;
	font-weight: normal;
	margin: 0 0 var.$spacing-md;
}

.authors {
	font-style: italic;
	margin-top: var.$spacing-lg;
}

.entry-content {
	margin-bottom: var.$spacing-md;
	max-width: var.$max-content-width;

	.media {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: var.$spacing-sm;

		img {
			box-shadow: var.$box-shadow;
			margin-bottom: var.$spacing-sm;
			border-radius: var.$border-radius-md;
			border: 1px solid var.$White;
		}
	}

	.properties-container {
		text-align: center;
		margin-bottom: var.$spacing-sm;
		font-size: var.$font-size-xs;
		font-style: italic;
		flex: 1;
	}
}

.previous-next-container {
	display: flex;
	justify-content: center;

	.previous-next {
		max-width: 1024px;
		flex: 1;
		display: flex;
		justify-content: space-between;
	}
}

// Sections
.content-section {
	padding: var.$spacing-md var.$spacing-md var.$spacing-lg var.$spacing-md;
	font-size: var.$font-size-sm;

	img,
	iframe {
		border-radius: var.$border-radius-md;
		box-shadow: var.$box-shadow;
	}
}

.content-primary {
	background-color: var.$SCVRed;
	color: var.$White;

	.byline {
		margin-left: var.$spacing-md;
		font-weight: var.$font-weight-semibold;
	}
}

.wp-caption-text {
	font-size: 0.75rem;
	font-style: italic;
}

.content-secondary {
	background-color: var.$SCVGreen;
	color: var.$White;

	a,
	.entry-heading {
		color: var.$White;
	}

	.gfield_validation_message a {
		color: inherit;
		//prevent overriding error message color with a different link color
	}
}

.content-secondary-grid {
	display: flex;
	flex-wrap: wrap;
	gap: var.$spacing-md;
	overflow: hidden;
	justify-content: center;

	a {
		display: block;
		border: none;
	}

	img {
		border: 1px solid var.$White;
		border-radius: var.$border-radius-sm;
	}
}

.archive-list {
	margin: 0 0 var.$spacing-xl;
	padding: 0;
	list-style: none;
}

#show-hide-full-story {
	margin-top: 1rem;
}

.media-filters {
	margin-bottom: var.$spacing-lg;
	.media-filters-controls {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: var.$spacing-md;
		flex-wrap: wrap;
		margin: var.$spacing-md 0 0 0;
	}

	label {
		display: flex;
		align-items: center;
		gap: var.$spacing-sm;

		select {
			min-width: 230px;
			width: 230px;
			line-height: 2;
			min-height: 32px;
			padding: 8px;
			color: var.$SCVGray;
			flex: 1;
		}
	}

	.clear-filters-form {
		display: block;
	}
}

#back-link {
	margin-bottom: var.$spacing-md;
}

.audio-thumbnail-wrapper,
.video-thumbnail-wrapper {
	position: relative;
	&:after {
		content: "";
		display: block;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		position: absolute;
	}
}

.audio-thumbnail-wrapper:after {
	background-image: url("img/audio.png");
	width: 140px;
	height: 140px;
	top: 5px;
	left: 5px;
}

.video-thumbnail-wrapper:after {
	background-image: url("img/video.png?v=1");
	top: 40px;
	left: 40px;
	width: 70px;
	height: 70px;
}
