@font-face {
	font-family: "Script MT";
	src: url("font/ScriptMTBold.woff2") format("woff2"),
		url("font/ScriptMTBold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
