@use "_var.scss";

.disclaimer {
	background-color: var.$SCVLightGray;
	padding: var.$spacing-md;
	padding-bottom: var.$spacing-lg;
	margin-bottom: 0;
}

.main-footer {
	background-color: var.$SCVBlack;
	padding: var.$spacing-md;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	height: 9rem;

	.menu-first-footer-container {
		padding-bottom: var.$spacing-lg;
		width: 50%;
	}

	#footer-menu-heading-container h2 {
		margin: 0.25em 0;
	}
	.menu {
		margin: 0;
		padding: 0;
	}

	.menu-item {
		margin-bottom: var.$spacing-md;
		list-style: none;
	}

	.footer-menu,
	.menu {
		font-weight: var.$font-weight-bold;
		font-size: var.$font-size-xs;
		color: var.$White;
	}

	.menu-item {
		a {
			color: var.$White;
			border: 0;
			&:hover {
				color: var.$SCVRed;
			}
		}
	}

	.menu-other-vmapa-sites-container {
		.menu-item {
			margin-bottom: 0;
		}

		a {
			font-weight: var.$font-weight-normal;
		}
	}
}
