@import "./_var.scss";

#pagination {
	display: flex;
	justify-content: center;
	gap: $spacing-sm;
	margin-top: $spacing-sm;
	.page-numbers {
		border: 1px solid $White;
		color: $White;
		border-radius: 50%;
		width: 32px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		transition: all 0.1s ease-in;
		&:hover,
		&:focus {
			background-color: $SCVLightGrayTranslucent;
		}

		&.current {
			background-color: $White;
			color: $SCVGreen;
		}

		&.prev,
		&.next {
			border-color: transparent;
			width:auto;
			border-radius: 0;
		}
	}
}
