// font stack
$MyriadStack: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L",
	"Helvetica Neue", Helvetica, Arial, sans-serif;

// Typesetting variables. Edit here or override in main file prior to import of this.
$baseFontSize: 16 !default; // in pixels.
$baseLineHeight: 1.5 !default; // how large the line height is as a multiple of font size
$leading: $baseLineHeight * 1em !default;
$headerLeading: 1em;
// Rate of growth for headings
// I actually like this to be slightly smaller then the leading. Makes for tight headings.
$scale: 2 !default;

// breakpoints// from device width https://semantic-ui.com/elements/container.html
$bp--xs: 320px;
$bp--sm: 768px;
$bp--md: 992px;
$bp--lg: 1200px;
$bp--xl: 1920px;

// colors
$White: #ffffff;
$SCVGreen: #007a33;
$SCVRed: #cb333b;
$SCVBlack: #332f21;
$SCVBlackTranslucent: rgba(0, 0, 0, 0.3);
$SCVDarkGray: #454545;
$SCVGray: #9ea2a2;
$SCVLightGray: #c8c9c7;
$SCVLightGrayTranslucent: rgba(200, 201, 199, 0.3);
$SCVForestGreen: #215732;
$SCVMaroon: #8a2a2b;
$SCVBrown: #4e3629;
$SCVGold: #eaaa00;

// Typography
$textShadow: 1px 1px 2px $SCVBlackTranslucent;
$fontWeightSemiBold: 600;
$fontSizeXl: 40px;
$fontSizeMd: 16px;

// Spacing
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
