@import "./_var.scss";

.year-section {
	padding: $spacing-md;
}

.year-story-video {
	border-radius: $border-radius-md;
	box-shadow: $box-shadow;
	background: $SCVBlack;
	max-width: 560px; // TODO confirm that this is consistent for all year videos

	overflow: hidden;
	p {
		margin: 0;
	}
}

.year-story {
	margin-bottom: 1rem;
}

.year-show-title {
	font-size: $font-size-md;
	margin-bottom: $spacing-lg;
}

.year-piece-title,
.year-piece-composer {
	font-size: $font-size-sm;
}

.year-piece-title {
	font-weight: $font-weight-normal;
}

.year-piece-composer {
	font-weight: $font-weight-light;
	margin-left: 0;
}

.year-score-placement {
	font-size: $font-size-md;
	font-weight: $font-weight-light;
}
