@import "./_var.scss";

.year-section {
	padding: $spacing-md;
}

.year-story-video {
	overflow: hidden;
	p {
		aspect-ratio: 16/9;
		position: relative;
		@supports not (aspect-ratio: 16 / 9) {
			width: 100%;
			padding-bottom: 56.25%;
		}

		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.year-story {
	margin-bottom: 1rem;
	max-width: 800px;
}

.year-story-list {
	.entry-heading {
		margin: 0 0 $spacing-xl;
	}
}

.year-show-title {
	font-size: $font-size-md;
	margin-bottom: $spacing-lg;
}

.year-piece-title,
.year-piece-composer {
	font-size: $font-size-sm;
}

.year-piece-title {
	font-weight: $font-weight-normal;
}

.year-piece-composer {
	font-weight: $font-weight-light;
	margin-left: 0;
}

.year-score-placement {
	font-size: $font-size-md;
	font-weight: $font-weight-light;
}
